.background-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    font-size: 400px;
    color: #f6f6f6;
    text-align: center
}

.btn.focus,
.btn:focus,
.btn:hover {
    outline: none
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100
}

.skip-link:focus {
    top: 0
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype')
}

@font-face {
    font-family: AmazonEmber_Bd;
    src: url(fonts/AmazonEmber_Bd.ttf)
}

@font-face {
    font-family: AmazonEmber_Lt;
    src: url(fonts/AmazonEmber_Lt.ttf)
}

@font-face {
    font-family: AmazonEmber_Rg;
    src: url(fonts/AmazonEmber_Rg.ttf)
}

body {
    font-family: Roboto
}

form {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 100px
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

.navbar-inverse {
    background: #1d2834;
    border-color: #202a38
}

.main-bg {
    background-color: #232f3e;
    height: 330px;
    padding: 60px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.btn-amz {
    font-weight: 500;
    color: #fff;
    border: 0;
    padding: 8px 24px
}

.btn-amz-lg,
.btn-amz-lg:hover {
    font-size: 18px;
    padding: 16px 48px
}

.btn-amz-lg,
.btn-amz-lg:hover,
.btn-amz:hover {
    font-weight: 500;
    color: #fff;
    border: 0
}

.blq {
    text-align: left;
    padding: 20px 0
}

.blq h1 {
    font-size: 48px;
    margin-bottom: 15px;
    color: #ff9902;
    font-weight: 600;
    margin-top: 0
}

.blq p {
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 600;
    font-family: AmazonEmber_Rg
}

.section-dark {
    background-color: #ebedf2;
    padding: 40px 0
}

.read-more {
    display: none
}

.section-blue,
.section-light {
    background-color: #fff;
    padding: 40px 0
}

.section-blue {
    background-color: #005376
}

.section-blue h3.heading,
h3.heading {
    font-size: 30px;
    color: #fff
}

h3.heading {
    color: #111;
    margin-bottom: 30px;
    margin-top: 0
}

p {
    color: #111;
    line-height: 22px
}

.blq p,
.info-card .content p,
a {
    font-size: 16px
}

.career-card .action .click:hover,
a:hover {
    text-decoration: underline
}

.career-card,
.info-card {
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-bottom: 30px
}

.form-group a,
p {
    font-size: 14px
}

a {
    text-decoration: none;
}

.info-card img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 1px solid #dfdfdf;
    height: 150px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.info-card .content {
    background: #fff;
    padding: 20px
}

.info-card .content h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0
}

.career-card {
    border: 1px solid #ddd;
    background: #fff
}

.career-card .content {
    height: 126px;
    background: #232f3e;
    padding: 46px 20px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px
}

.career-card .content h3 {
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 0;
    font-family: AmazonEmber_Rg
}

.career-card .action {
    background: #ebedf2;
    border-top: 1px solid #ddd;
    padding: 16px
}

.career-card .action .click,
.career-card .action a {
    padding: 12px 0;
    color: #23303e
}

.career-card .action .click {
    font-size: 16px
}

.career-card .action a:hover {
    color: #384c62
}

footer {
    background: #232f3e;
    color: #fff
}

footer .bottom-content p,
footer .top-content p {
    font-size: 14px;
    line-height: 1.3;
    padding: 16px 0;
    color: #fff;
    margin: 0
}

footer .hr {
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, .3)
}

footer .bottom-content p {
    line-height: 1;
    padding: 16px
}

.listing-container {
    background: #f6f8f9
}

.page-heading {
    font-size: 35px;
    font-weight: 700;
    color: #23303e;
    margin-bottom: 40px
}

.card {
    background: #fff;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
}

.card p.heading {
    margin-bottom: 20px;
    font-weight: 700
}

.card .filter-check {
    list-style-type: none;
    -webkit-padding-start: 5px;
    padding-inline-start: 5px
}

.card .card-title {
    font-size: 18px;
    color: #23303e;
    cursor: pointer
}

.card .card-content {
    font-size: 14px;
    color: #111
}

.checkbox,
.radio {
    margin-bottom: 16px
}

.form-control {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .03);
    border: 1px solid #ececec;
    font-size: 14px;
    height: 44px;
    color: #555;
}

/*.form-select {
    color: #999
}*/
.form-select {
    font-size :14px;
    color: #555;
}

.form-group {
    color: #333
}

.form-check-label {
    font-weight: 400;
    height: 44px;
    font-size: 14px;
}

.camera-buttons:focus,
.form-control:focus {
    border-color: #007cb6;
    outline: 0;
    box-shadow: none
}

.camera-buttons:focus {
    border-color: #fff
}

.modal-content {
    box-shadow: none;
    border: none;
    border-radius: 2px
}

@media (min-width:768px) {
    .modal-dialog {
        width: 750px;
        margin: 30px auto
    }
}

h3.modal-title {
    color: #23303e;
    margin-bottom: 30px
}

.modal-body-head {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 700
}

.modal-body-head span {
    font-weight: 400
}

.modal-body {
    padding: 30px
}

.form-group,
.listing-container .form-group,
.modal-body p.content,
.modal-body ul {
    margin-bottom: 30px
}

.video-title {
    height: 60px
}

.video-description {
    margin-bottom: 30px
}

@media only screen and (max-width:600px) {
    .video-title {
        height: auto
    }

    .main-bg {
        margin-top: 65px;
        padding: 5% 0
    }

    .blq h1 {
        font-size: 38px;
        font-weight: 600;
        font-family: AmazonEmber_Bd
    }

    .blq p {
        font-weight: 600;
        font-family: AmazonEmber_Rg
    }
}

.white-background {
    background-color: #fff !important
}

.owl-theme .owl-nav {
    margin-top: 0;
    display: none
}

.hirepro-footer {
    background: #131b23;
    padding: 8px 0
}

.hirepro-footer p {
    color: #fff;
    margin: 0
}

.success .circle-check {
    height: 60px;
    width: 60px;
    border: 2px solid #08bd80;
    border-radius: 50%;
    padding: 18px 15px;
    text-align: center;
    margin: 0 auto
}

.success h2,
.success p {
    font-family: 'Roboto', sans-serif;
    color: #232f3e
}

.success h2 {
    letter-spacing: 0;
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 36px
}

.success p {
    margin-bottom: 16px;
    font-size: 16px
}

.job-desc .card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .2)
}

.btn-file {
    position: relative;
    overflow: hidden
}

.btn-file:focus {
    outline: none !important
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #fff;
    cursor: inherit;
    display: block
}

.btn {
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857143;
}

.job-description-collapse {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    overflow: hidden
}

.job-description-expand {
    text-overflow: inherit;
    overflow: visible
}

.pointer {
    cursor: pointer
}

.modal-backdrop.fade.in {
    opacity: .5;
    transition: opacity .15s linear
}

.modal-backdrop.fade.in.ng-enter {
    opacity: 0
}

.modal-backdrop.fade.in.ng-enter.ng-enter-active,
.modal-backdrop.fade.in.ng-leave {
    opacity: .5
}

.modal-backdrop.fade.in.ng-leave.ng-leave-active {
    opacity: 0
}

.text-error {
    color: red
}

.no-padding {
    padding: 0
}

.error-box {
    border-color: red !important
}

.otp input:focus {
    outline: none
}

.otp input::-webkit-input-placeholder {
    color: #c0c1c3;
    font-family: 'Roboto', sans-serif;
    opacity: 1
}

.otp input:-ms-input-placeholder {
    opacity: 1;
    color: #c0c1c3;
    font-family: 'Roboto', sans-serif
}

.otp input::placeholder {
    color: #c0c1c3;
    font-family: 'Roboto', sans-serif;
    opacity: 1
}

.otp input::-ms-input-placeholder {
    color: #c0c1c3;
    font-family: 'Roboto', sans-serif
}

.icon-warning {
    color: #ffd771
}

.icon-danger {
    color: #eb314d
}

.registration-form {
    font-family: 'Roboto', sans-serif !important
}

.form-group-box {
    border: 1px solid #ececec;
    border-radius: 10px;
    padding: 20px 20px 0
}

.group-error {
    border: 1px solid red !important
}

.form-group-heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px
}

.typeahead {
    width: 100%
}

.tad-container {
    width: 99%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    min-height: 32px
}

.tad-container input {
    z-index: 1;
    width: 100%;
    height: 42px;
    position: absolute;
    padding-left: 10px;
    top: 1px;
    margin-left: 2px;
}

.tad-container input:not(.error-box) {
    border: none;
}

.tad-container input:focus {
    border: 1px solid
}

.tad-container input+ul {
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden
}

.tad-container input+ul>li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 98%
}

.tad-container .remove-icon:hover,
.tad-container input:focus+.remove-icon,
.tad-container input:hover+.remove-icon {
    z-index: 2
}

.tad-container button {
    width: 34px
}

.tad-container .remove-icon {
    z-index: -1
}

.toggler_dropDown {
    width: 100%;
    display: block
}

#stmyrahost-launcher-button {
    position: fixed;
    bottom: 55px !important;
    right: 88px !important;
    width: 115px !important;
    height: 115px !important;
    border-radius: 50% 50% !important;
    -webkit-animation: hithere 1s ease infinite;
    animation: hithere 1s ease infinite;
    transition: .3s
}

#stmyrahost-launcher-button:hover {
    -webkit-animation: none;
    animation: none
}

#stmyrahost-launcher-button img {
    width: 100% !important;
    margin: 0 auto !important
}

#stmyrahost-launcher-button:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 80%);
    transition-duration: .3s
}

#stmyrahost-launcher-button:active,
#stmyrahost-launcher-button:focus,
#stmyrahost-launcher-button:hover {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px)
}

#stmyrahost-launcher-button:active:before,
#stmyrahost-launcher-button:focus:before,
#stmyrahost-launcher-button:hover:before {
    opacity: .7;
    -webkit-transform: translateY(7px);
    transform: translateY(7px)
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0)
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0)
    }
}

.myra-typewriter-text {
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    font-weight: 700;
    color: #2064b1;
    letter-spacing: 1px;
    white-space: wrap;
    box-sizing: border-box;
    -webkit-animation: type 2s infinite steps(50, end);
    animation: type 2s infinite steps(50, end)
}

@-webkit-keyframes type {
    0% {
        width: 0
    }

    to {
        width: 100%
    }
}

.any-ques-text,
.ask-myra-text {
    font-family: system-ui;
    position: fixed;
    text-align: center;
    color: #1b406a;
    display: block;
    font-weight: 700
}

.any-ques-text {
    -webkit-animation: blinker 1s linear infinite;
    animation: blinker 1s linear infinite;
    right: 64px;
    bottom: 187px;
    font-size: 25px
}

@-webkit-keyframes blinker {
    50% {
        opacity: 0
    }
}

@keyframes blinker {
    50% {
        opacity: 0
    }
}

.ask-myra-text {
    right: 88px;
    bottom: 9px;
    font-size: 20px
}

@-webkit-keyframes hithere {
    30% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    40%,
    60% {
        -webkit-transform: rotate(-20deg) scale(1.2);
        transform: rotate(-20deg) scale(1.2)
    }

    50% {
        -webkit-transform: rotate(20deg) scale(1.2);
        transform: rotate(20deg) scale(1.2)
    }

    70% {
        -webkit-transform: rotate(0deg) scale(1.2);
        transform: rotate(0deg) scale(1.2)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes hithere {
    30% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    40%,
    60% {
        -webkit-transform: rotate(-20deg) scale(1.2);
        transform: rotate(-20deg) scale(1.2)
    }

    50% {
        -webkit-transform: rotate(20deg) scale(1.2);
        transform: rotate(20deg) scale(1.2)
    }

    70% {
        -webkit-transform: rotate(0deg) scale(1.2);
        transform: rotate(0deg) scale(1.2)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

#stmyrahost-launcher-button:active .ask-myra-text {
    display: none !important
}

@media (max-width:767px) {
    #stmyrahost-launcher-button {
        bottom: 20px !important;
        right: 20px !important;
        width: 60px !important;
        height: 60px !important
    }

    .any-ques-text,
    .ask-myra-text {
        display: none
    }
}